{%if request.user.is_authenticated%}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">logout</a>
{% else %}
<a href="{% url 'login' %} ">login</a>
{% endif %}    

{% csrf_token %}
<hr>
<h1>my todos list {{color}} </h1>
<a href = "{% url 'task-create' %}">add task</a>  
<table>
    <tr>
    <th>item</th>
    <th></th>
    </tr>

    {% for task in object_list%}
    <tr>
        <td>{{task.chapter}}</td>
        <td><a href ="{% url 'task' task.id %} " >view</a></td>
        <td><a href ="{% url 'task-update' task.id %} " >edit</a></td>
        <td><a href ="{% url 'task-delete' task.id  %}" >delete</a></td>
    </tr> 
    {%empty%}
    <h3>no items</h3>
    {%endfor%} 

</table>  