<!DOCTYPE html>
<html>
<title>sidebar</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}
    <link rel = "icon" href = 
    https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqK2wzlgjd5_omPrgLWKaJJeZqFab85N5xbA&usqp=CAU
        type = "image/x-icon">
<link rel="stylesheet" href="{% static 'css\main page.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/9fff1b7488.js" crossorigin="anonymous"></script>
<body>
  <ul class="navbar" id="navbar">
    <div class="slidebar"></div>
      <li class="nvbar" style="float:left; padding-right:12.5in;  " ><img src="{% static 'images/logo.png' %} " alt="logo"></li>
      <div class="hc">
      <li class="nvbar"><a  href="/todo/tasks">Daily Goals</a></li>
      <li class="nvbar"><a href="/admin">teachers panel</a></li>
    
    </div> 
</ul>
<div class="colorchange" >
  <div class="wrapper">
      <input type="checkbox" id="btn">
      <label for="btn" class="menu-btn" id="btn">
        
        <i class="fas fa-bars" id="sd"></i>
      
      </label>
      <nav id="sidebar">
     <ul class="list-items">
      <li><a href="#"><i class="fas fa-home"> </i>Home</a></li>
      <h1 class="cs">Change course</h1>
      <li><a href="/maths"><i class="fas fa-home"> </i>physics</a></li>
      <li><a href="/chemistry"><i class="fas fa-flask"></i>chemistry</a></li>
      <li><a href="#"><i class="fas fa-ruler-horizontal"></i></i>Maths</a></li>
     </ul>
    </nav>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
   <div >
    <img   src="{{img1.img}}" alt="##" class="first">
   
    </div>
    <style>
    body{
  background-color: #D8EAFD;
}
     
    .first {
      height: 350px;
      border-radius: 10px;
      border-radius: 10px;
      padding-left: 42%; 
   
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
    </style>
    <br>
    <br>
    <br>
    {% for chap in chaps %}
    <h1 class="trigo">{{chap.topic1}}</h1>
    <br>
    <br>
    
  <div class="cards">
    <div class="card">
      <h1 class="card-heading">Links</h1>
      <br>
      <br>
      <h2 class="c2" style="text-align: center;color: #0F236B;">{{chap.channel1}}</h2>
      <br>
      <br>
         <a href="{{chap.link1}}" class="links">Learn now</a>
         <br>
         
    </div>
    <br>
    <div class="card">
      <h1 class="card-heading">Links</h1>
      <br>
      <br>
        <h2 class="c2" style="text-align: center;color: #0F236B;">{{chap.channel2}}</h2>
<br>
<br>
         <a href="{{chap.link2}}" class="links">Learn now</a>
         <br>
         
    </div>
    <br>
    <div class="card">
      <h1 class="card-heading">Links</h1>
      <br>
      <br>
      <h2 class="c2" style="text-align: center;color: #0F236B;">{{chap.channel3}}</h2>
      <br>
      <br>
         <a href="{{chap.link3}}" class="links">Learn now</a>
         <br>
         
    </div>
    <br>
    <div class="card">
      <h1 class="card-heading">Test</h1>
      <br>
      <br>
      <h2 class="c2" style="text-align: center;color: #0F236B;">coming soon !!!</h2>
      <br>
      <br>
         
         <br>
         
    </div>
    </div>

</div>
 
 </body>
 <br>
 <br>
 <br>
 <br>
 <br>
 {% endfor %} 
 <script>
  window.onscroll = function() {myFunction()};
  
  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;
  
  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
  </script>
  
 <footer>

   <div  class="icons"  >
   <a href=""><i class="fab fa-instagram" id="insta"></i></a>
   <br>
   <a href="#"> <i class="fab fa-telegram" id="tele"></i></a>
   <br>
   <a href="#"><i class="far fa-envelope" id="mail"></i></a>
  </div>
 
  </footer>
</html> 
